name: "Chilean Schools Mapping"
description: "Mapping configuration for Chilean educational establishments from MINEDUC data"
language: "es"

encoding: "utf-8"
delimiter: ","
decimal_separator: "."

csv_files:
  - 
    file_path: "data/directorio_2024.csv"
    # https://datosabiertos.mineduc.cl/directorio-de-establecimientos-educacionales/
    encoding: "utf-8"
    delimiter: ";"
    decimal_separator: "."

    update_action: "replace_all"
    
    item_mapping:
      - 
        label_column: "NOM_COM_RBD"
        description: "Comuna de Chile"
        statements:
          - 
            # property_id: "P15"
            property_label: "instancia de"
            value_label: "comuna"
            datatype: "wikibase-item"
      - 
        label_column: "NOM_RBD"
        description: "Establecimiento educativo en Chile"

        statements:
          - 
            # property_id: "P2"
            property_label: "comuna"
            value_column: "NOM_COM_RBD"
            datatype: "wikibase-item"
          - 
            property_label: "latitud"
            value_column: "LATITUD"
            datatype: "quantity"
          - 
            property_label: "longitud"
            value_column: "LONGITUD"
            datatype: "quantity"
          