name: "Chilean Schools Mapping"
description: "Mapping configuration for Chilean educational establishments from MINEDUC data"
language: "es"

encoding: "utf-8"
delimiter: ","
decimal_separator: "."

csv_files:
  - 
    file_path: "data/20240912_Directorio_Oficial_EE_2024_20240430_WEB.csv"
    # https://datosabiertos.mineduc.cl/directorio-de-establecimientos-educacionales/
    encoding: "utf-8"
    delimiter: ";"
    decimal_separator: "."
    
    item_mapping:
      - 
        label_column: "NOM_RBD"
      
        description: "Establecimiento educativo en Chile"