name: "Chilean Schools Mapping"
description: "Mapping configuration for Chilean educational establishments from MINEDUC data"
language: "es"

encoding: "utf-8"
delimiter: ";"
decimal_separator: ","

csv_files:
  - file_path: "data/directorio_2024_lite.csv"
    update_action: "replace_all"
    mappings:
      - item:
          label: "{NOM_REG_RBD_A}"
        statements:
          - property: "código oficial de región"
            value: "{COD_REG_RBD}"
          - property: "instancia de"
            value:
              label: "región"
      - item:
          label: "{NOM_COM_RBD}"
        statements:
          - property: "código oficial de comuna" 
            value: "{COD_COM_RBD}"
          - property: "instancia de"
            value:
              label: "comuna"
          - property: "región"
            value:
              label: "{NOM_REG_RBD_A}"
      - item:
          label: "{NOM_RBD}"
          snak:
            property: "rol base de datos del establecimiento"
            value: "{RBD}"
          description: "Colegio {RBD} de la comuna de {NOM_COM_RBD}"
        statements:
          - property: "instancia de" # datatype: "wikibase-item"
            value:
              label: "colegio"
          - property: "rol base de datos del establecimiento" # datatype: Quantity
            value: "{RBD}"
          - property: "comuna" # datatype: "wikibase-item"
            value: 
              label: "{NOM_COM_RBD}"
          - property: "ubicación" # datatype: "globe-coordinate"
            value: 
              - "{LATITUD}"
              - "{LONGITUD}"
              - 0      # precision: 0
              - "https://www.wikidata.org/entity/Q2" # globe: Earth 
  - file_path: "data/resumen_matricula_ee_2024_lite.csv"
    update_action: "append_or_replace"
    mappings:
      - item:
          label: "{NOM_RBD}"
          snak:
            property: "rol base de datos del establecimiento"
            value: "{RBD}"
        statements:
          - property: "personas matriculadas"
            value: "{MAT_HOM_TOT}"
            qualifiers:
              - property: "año"
                value: 
                  - "+{AGNO}-01-01T00:00:00Z"
                  - 0
                  - 9
                  - "http://www.wikidata.org/entity/Q1985727"
              - property: "identificador de género"
                value: 
                  label: "hombre"
          - property: "personas matriculadas"
            value: "{MAT_MUJ_TOT}"
            qualifiers:
              - property: "año"
                value: 
                  - "+2024-01-01T00:00:00Z"
                  - 0
                  - 9
                  - "http://www.wikidata.org/entity/Q1985727"
              - property: "identificador de género"
                value: 
                  label: "mujer"
          - property: "matrículados total"
            value: "{MAT_TOTAL}"
            qualifiers:
              - property: "año"
                value: 
                  - "+2024-01-01T00:00:00Z"
                  - 0
                  - 9
                  - "http://www.wikidata.org/entity/Q1985727"

