name: "Chilean Schools Mapping"
description: "Mapping configuration for Chilean educational establishments from MINEDUC data"
language: "es"

encoding: "utf-8"
delimiter: ","
decimal_separator: "."

csv_files:
  - 
    file_path: "data/directorio_2024.csv"
    # https://datosabiertos.mineduc.cl/directorio-de-establecimientos-educacionales/
    encoding: "utf-8"
    delimiter: ";"
    decimal_separator: "."

    update_action: "replace_all"
    
    item_mapping:
      - 
        update_action: "replace_all"
        label_column: "NOM_COM_RBD"
        description: "Comuna de Chile"
        statements:
          - 
            # property_id: "P15"
            property_label: "instancia de"
            value: {"label": "comuna"}
            datatype: "wikibase-item"
            qualifiers:
              - 
                # property_label: "año"
                property_id: "P14"
                value: 
                  - {"value": "+2024-01-01T00:00:00Z"}  # time: year value (will be formatted as +YYYY-01-01T00:00:00Z)
                  - {"value": 0}      # timezone: 0
                  - {"value": 9}      # precision: 9 (year precision)
                  - {"value": "http://www.wikidata.org/entity/Q1985727"}  # calendarmodel: Gregorian
                datatype: "time"
      - 
        update_action: "replace_all"
        label_column: "NOM_RBD"
        description: "Establecimiento educativo en Chile"

        statements:
          - 
            # property_id: "P2"
            property_label: "comuna"
            value: "NOM_COM_RBD"
            datatype: "wikibase-item"
            qualifiers:
              - 
                property_id: "P14"
                value: 
                  - {"value": "+2024-01-01T00:00:00Z"}  # time: year value (will be formatted as +YYYY-01-01T00:00:00Z)
                  - {"value": 0}      # timezone: 0
                  - {"value": 9}      # precision: 9 (year precision)
                  - {"value": "http://www.wikidata.org/entity/Q1985727"}  # calendarmodel: Gregorian
                datatype: "time"
          - 
            property_label: "ubicación"
            value: 
              - {"column": "LATITUD"}
              - {"column": "LONGITUD"}
              - {"value": 0}      # precision: 0
              - {"value": "https://www.wikidata.org/entity/Q2"}  # globe: Earth
            datatype: "globe-coordinate"